*{
	margin:0px auto;
	padding:0px;
}
body,h,div,ul,li,a{
	margin:0px;
	padding:0px;
}
body{
	font-size:12px;
	font-family:"微软雅黑";
}
#container{
	width:1000px;
	margin:0px auto;
}
#header{
	height:180px;
	border:1px solid #92B3DC;
	background:url(../images/banner.jpg);
}
#nav{height:30px;
	border:1px solid #92B3DC;
	background:url(../images/nav_bg.jpg) repeat-x;
}
#nav_nav{height:30px;
	border:1px solid #92B3DC;
	background:#E1F0FA;
}
#content{
	height:515px;
	width:1000px;
	margin-top:6px;
}
#content_left{
	width:232px;
	height:515px;
	float:left;
}
#content_left_top{
	width:232px;
	height:202px;
	border:1px solid #92B3DC;
	background:url(../images/flashbox.jpg) no-repeat;
	position:relative;
}
#number{
	height:13px;
	width:80px;
	position:absolute;
	right:10px;
	bottom:5px;
	
	display:block;
	
}
#number a{
	color:#FFF;
	margin-left:2px;
	float:left;
	text-decoration:none;
	display:block;
	line-height:13px;
	width:17px;
	text-align:center;
	background:#000;
}
#number a:hover{
	background:#F00;
}
#content_left_center{
	width:232px;
	height:122px;
	border:1px solid #92B3DC;
	margin-top:6px;
}
#content_left_center ul{
}
#content_left_center ul li{
	list-style:none;
	border-bottom: 1px dashed #CCC;
	height:20px;
	margin-top:5px;
}
#content_left_down{
	width:232px;
	height:180px;
	margin-top:6px;
	border:1px solid #92B3DC;
	background:url(../images/xszl_bg.jpg) no-repeat left top;
}
	
#content_left_down ul{
	padding-left:20px;
} 
#content_left_down li{
	height:28px;
}
#content_left_down li a{
	text-decoration:none;
	color:#000;
	font-family: "SimSun";
	line-height:28px;
}
.title{
	font-weight:bold ; font-size:12px; line-height:25px; color:#254260; padding-left:35px;
}
.more{
	float:right;
	padding-right:20px;
}
#content_center{
	width:570px;
	height:515px;
	float:left;
	margin-left:6px;
}
#content_center_top{
	height:232px;
	width:570px;
	border:1px solid #92B3DC;
	background:url(../images/xyxw_bg.jpg) no-repeat left top;
}
#content_center_down{
	height:279px;
	width:570px;
	border:1px solid #92B3DC;
	margin-top:6px;
	background:url(../images/xytz_bg.jpg) no-repeat left top;
}
#content_right{
	width:185px;
	height:515px;
	float:right;
}
#content_right_top{
	width:185px;
	height:355px;
	border:1px solid #92B3DC;
	background:url(../images/R_bg.jpg);
}
#content_right_down{
	width:183px;
	height:155px;
	border:1px solid #92B3DC;
	margin-top:6px;
}
#footer{height:70px;
	border:1px solid #92B3DC;
	margin-top:15px;
	background:url(../images/foot_bg.jpg);
	text-align:center;
}
#ul_1{
	list-style:none;
	margin-left:50px;
}
#ul_2{
	list-style:url(../images/topbiao.gif);
	margin-left:30px;
}
#ul_2 li{
	border-bottom:1px dotted #999;
}
#content_center_top a{
	text-decoration:none;
	color:#000;
	font-family:"SimSun";
	font-size:12px;
	line-height:28px;
}
#ul_3{
	list-style:url(../images/diary.gif);
	margin-left:30px;
}
#ul_3 li{
	border-bottom:1px dotted #999;
}
#content_center_down a{text-decoration:none;
	color:#000;
	font-family:"SimSun";
	font-size:12px;
	line-height:28px;
}
#ul_1 li{
	float:left;
	margin-left:30px;
	line-height:30px;}
#nav a{
	text-decoration:none;
	color:#254260;
	font-weight:bold;
}
#nav a:hover{
	color:#000;
}
#content_right_down ul{
	width:120px;
	margin:0px auto;
}
#content_right_down ul li{
	list-style:none;
	border-bottom: 2px solid #00659C;
	text-align:center;
}
#content_right_down a{
	color:#000;
	font-family:"SimSun";
	line-height:27px;
	text-decoration:none;
}

#span{
	float:right;padding-right:10px;
}
#content_left_center_form{
	width:150px;
	height:19px;
}