#contain{
	width:100%;
	height:971px;
	background:url(../images/bg.jpg) repeat;
	margin:0 auto;
}
ul{
	margin:0;
	padding:0;
}
#header{
	width:966px;
	height:105px;
	background:url(../images/header.jpg) no-repeat;
	margin:0 auto;
}
#nav{
	height:56px;
	width:966px;
	margin:0 auto;
	background-color:#FFF;
}
#nav ul{
	margin:0 auto;
}
#nav li{
	height:41px;
	width:137px;
	list-style:none;
	color:#FFF;
	background:#f9408a;
	float:left;
	margin:0 auto;
}
#nav li a{
	text-decoration:none;
	line-height:41px;
	text-align:center;
	width:127px;
	color:#FFF;
	display:block;
}
#nav li:hover{
	height:44px;
	background:#53152e;
}
#nav ul ul{
	padding-top:20px;
}
#nav li li{
	display:none;
}
#nav li:hover li{
	display:block;
}
.select{
	background:#000;
	height:44px;
}
#banner{
	height:395px;
	width:966px;
	background:url(../images/banner.jpg) no-repeat;
	background-size:966px 395px;
	margin:0 auto;
	border:1px solid transparent; /*此处不加边框下方circle的margin_top便不能用，故加透明边框，甚是诡异。*/
}
#circle{
	width:314px;
	height:314px;
	border-radius:157px;
	background:#000;
	margin-left:50px;
	margin-top:40px;
	position:relative;
} 
#circle span{
	color:#F00965;
	font-size:24px;
	position:absolute;
	top:120px;
	left:20px;
	
}
#circle_p1 {
	color:#FFF;
	line-height:15px;
	padding-top:10px;
	position:absolute;
	top:130px;
	left:20px;
	
}
#circle_p2 {
	color:#FFF;
	line-height:15px;
	padding-top:10px;
	position:absolute;
	top:150px;
	left:20px;
	
}
#fotter{
	width:966px;
	height:377px;
	background:url(../images/fotter.jpg) no-repeat;
	background-size:966px 377px;
	margin:0 auto;
	margin-top:20px;
	}